<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>259228862125-58kpbc0i291h4erj3o6v1vqfots2k0q6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259228862125-58kpbc0i291h4erj3o6v1vqfots2k0q6</string>
	<key>API_KEY</key>
	<string>AIzaSyDj5f4P-1MH14FRL2bQlpx3kvo-i_khCDs</string>
	<key>GCM_SENDER_ID</key>
	<string>259228862125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.normal.ggtv</string>
	<key>PROJECT_ID</key>
	<string>gg-tv-42fbc</string>
	<key>STORAGE_BUCKET</key>
	<string>gg-tv-42fbc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259228862125:ios:09df7db945b54c21426824</string>
</dict>
</plist>